a{
    text-decoration: none;
}

.navbar-custom{
    background-color:darkslategray;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,  .navbar-custom .nav-link{
            color: white;
}

.name{
    padding-top: 0.3125rem;
    display: inline-block;
    justify-content: right;
    margin: 0 0 0 auto;
    color: white;
}

.topsection{
    display:flex;
    border-bottom: 6px;
    border-top: 1px;
    padding-bottom: 4%;
    border-color: black;
}

.web-name{
    display: inline-block;
    margin-left: 5%;
}

.w3-sidenav w3-white w3-card-2{
    background-color: black;
}


.user-selection{
    margin: 5% 25%;
    background-color: #e4e4e4;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-selection h3{
    text-align: center;
    padding-top: 5%;
}

.manage{
    display: inline-block;
    margin: 3% 10%;
}

.add-del{
    display: inline-block;
}

.images{
    border-radius: 50%;
    width: 150px;
}

.statistics{
    margin: 5% 20%;
    background-color: #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.sub-stat{
    display: inline;
    padding: 2% 3%;
}

.stat-img{
    display: inline-block;
    border-radius: 50%;
    width: 75px;
    margin-right: 2%;
    margin-bottom: 5%;
    background-color: #FFFFFF;
}

.stat-text{
    text-align: center;
    display: inline-block;
    margin-top: 3%;
}

.stat{
    display: inline-block;
    text-align: center;
}

