body{
    height: 100vh;
    width: 100vw;
    font-family: 'Merriweather', serif;
   
   padding-bottom: 50%;
   
}

.navbar-custom{
    background-color:darkslategray;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,  .navbar-custom .nav-link{
            color: white;
            font-size: 25px;
}

a{
    padding-left: 2%;
 
}


/* .name{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    color: black;
    text-align: center;
    margin: auto;
} */

.heading-div{
    padding-top: 2%;
}


.web-name{
    display: inline-block;
    margin-left: 5%;
}


.heading{
    font-family: 'Merriweather', serif;
    color: white;
    margin-bottom: 0;
    margin-left: 70%;
    font-size: 25px;
}


.prev-appointments{
    width: 70%;
    margin-left: 15%;
    border-color: #271212;
    border-style:solid ;
    border-width: 1px;
 
    box-shadow: 5px 5px 5px 5px rgb(57, 55, 55); 
    background-color: white;
}

.prev-appointments p{
    line-height: normal;
    text-align: center;
    font-size: 20px;
    width:100%;
    height: fit-content;
}

.prev-appointments table{
    border-collapse: separate;
    border-spacing: 0 7px;
}


.prescription-btn{
    font-size: 90%;
    padding: 4%;
    background-color: light-blue;
}


.prescription-btn:hover{
    background-color: green;
    color: black;
}

.all-appointments{
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 0;
}

.all-appointments button{
    background-color: #CC5500;
    border-radius: 10px;
    height: 10%;
    margin-left: 2%;
}

.all-appointments button:hover{
    background-color: green;
    color: white;
}



/* Navigation Bar */
mat-toolbar {
    background: darkslategray;
    color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: darkslategray;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    padding: 16px;
  
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }

  .menu-button:mat-icon {
    margin-right: 8px;
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .active {
    background-color: #f4eeee21;
    color: #1976d2;
}