.form-check{
    padding-left: 2%;
    margin-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    margin-top: 10%;
    border-color: #271212;
    background-color:silver;
   color: black;
   border: none;
   width: 50%;
    box-shadow: 15px 15px 15px 15px rgb(57, 55, 55);
}
/* Styling for the checkboxes */

.form-check-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .form-check-input {
    
    cursor: pointer;
  }
  
  
  
  
  /* Styling for the submit button */
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-left:40%;
  }
  
  .submit-button:hover {
    background-color: #0069d9;
  }
  

.heading{
  font-family: 'Merriweather', serif;
  color: white;
  margin-bottom: 0;
  margin-left: 70%;
  font-size: 25px;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Merriweather', serif;
   
   padding-bottom: 50%;
   
}

.navbar-custom{
    background-color:darkslategray;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,  .navbar-custom .nav-link{
            color: white;
            font-size: 25px;
}

a{
    padding-left: 2%;
 
}


/* .name{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    color: black;
    text-align: center;
    margin: auto;
} */

/* Navigation Bar */
mat-toolbar {
  background: darkslategray;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: darkslategray;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button:mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
