.topsection{
    display:flex;
    border-bottom: 6px;
    border-top: 1px;
    padding-bottom: 4%;
    border-color: black;
}

.heading-div{
    padding-top: 2%;
}

.navbar{
    margin: 0.5% 0.5% 1.3% 0.5%;
    padding: 0.3% 0.5%;
    display: inline-block;
}

.web-name{
    display: inline-block;
    margin-left: 5%;
}


.heading{
    font-family: 'Merriweather', serif;
    color: white;
    margin-bottom: 0;
    margin-left: 70%;
    font-size: 25px;
}


.prev-appointments{
    border: 2px black solid;
    width: 70%;
    margin-left: 15%;
    box-shadow: 5px 5px 10px 10px lightgrey;
}

.prev-appointments p{
    line-height: normal;
    text-align: center;
    font-size: 20px;
    width:100%;
    height: fit-content;
}

.prev-appointments table{
    border-collapse: separate;
    border-spacing: 0 7px;
}


.prescription-btn{
    font-size: 90%;
    padding: 4%;
    background-color: light-blue;
}


.prescription-btn:hover{
    background-color: green;
    color: black;
}

.all-appointments{
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 0;
}

.all-appointments button{
    background-color: #CC5500;
    border-radius: 10px;
    height: 10%;
    margin-left: 2%;
}

.all-appointments button:hover{
    background-color: green;
    color: white;
}


/* Navigation Bar */
mat-toolbar {
    background: darkslategray;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: darkslategray;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    padding: 16px;

    overflow: auto;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.menu-button mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.active {
    background-color: #f4eeee21;
    color: #1976d2;
}