body{
    height: 100vh;
    width: 100vw;
    font-family: 'Merriweather', serif;
}

.navbar-custom{
    background-color:darkslategray;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text,  .navbar-custom .nav-link{
            color: white;
            font-size: 25px;
}

.heading-div{
    padding-top: 2%;
}


.heading{
    font-family: 'Merriweather', serif;
    color: white;
    margin-bottom: 0;
    margin-left: 70%;
    font-size: 25px;
}

.quote{
    color: white;
}

.quote h1{
    font-family: 'Merriweather', serif;
}

.quote h5{
    font-family: 'Merriweather', serif;
}

.quote{
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.meet-divs{
    text-align: center;
}
      
.appointment{
    display: inline-block;
    margin: 0% 10%;
    width: 250px;
    height: 100px;
    color: white;
    border-radius: 10px;
    background-color: #0a192f;
}

      
.appointment h5{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 10px;
}
      
      
.appointment button{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #CC5500;
    border-radius: 10px;
}

.appointment button:hover{
    background-color: rgba(204, 85, 0, 0.7);
    color: white;
}
      

.follow-up{
    display: inline-block;
    margin: 0% 10%;
    width: 250px;
    height: 100px;
    margin-top:5%;
    color: white;
    border-radius: 10px;
    background-color: #0a192f;
}
      
      
.follow-up h5{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 10px;
}

.follow-up button{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #CC5500;
    border-radius: 10px;
}

.follow-up button:hover{
    background-color: rgba(204, 85, 0, 0.7);
    color: white;
}

.meet-btn{
    text-align: center;
}

.previous{
    margin-top: 10%;
    text-align: center;
}

.previous button{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.95); 
    color: white; 
    padding: 1% 1% 1% 1%; 
    width: 20%;
}

.previous button:hover{
    background-color:rgba(0, 0, 0, 0.8); 
}



/* Navigation Bar */
mat-toolbar {
    background: darkslategray;
    color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: darkslategray;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    padding: 16px;
  
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }

  .menu-button:mat-icon {
    margin-right: 8px;
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .active {
    background-color: #f4eeee21;
    color: #1976d2;
}