* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

 
body{
  background-color: gray;
  padding-top: 1%;
}


#videos {
  width: 70%;
  height: 80%;
  margin: auto;
}

.video-player {
  margin-bottom: 2%;
  background-color: black;
  /* width: 100%;
  height: 50%; */
  border-style:solid;
  border-radius: 3%;
  padding: 0.5%;
  border-width: thin;
  border-color: black;
}

#remote {
  display: none; 
}

.video1 {
  width: 50%;
  height: 50%;
  margin: 1% auto;
}

.video2 {
  width: 50%;
  height: 50%;
  margin: 1% auto;
}

.control-container {
  display: inline; 
  cursor: pointer;
  border-radius: 50%;
  margin: 0% 1%;
}

.meet-btn-on {
  font-size: 30px; 
  color: green; 
  width: 37px; 
  height: 37px;
}
.meet-btn-off {
  font-size: 30px; 
  color: red; 
  width: 37px; 
  height: 37px 
}

.circle-btn {
  border-radius: 50%;
  border: 1px solid black;
  padding: 1px;
  background-color: white;
}

.circle-btn:hover {
  background-color: rgb(217, 226, 231);
}

.buttons {
  margin-top: 2.3%;
  /* margin-bottom: 0%; */
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center; 
  background-color: rgb(92, 92, 151);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.slider-container {
  text-align: center;
}

input[type=range] {
  width: 30%;
  /* margin: 1% auto; */
}